.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
}

.bar {
    background-color: orange;
    border-radius: 0.5em;
    padding: 5px;
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
}

.bar img {
    -webkit-user-drag: none;
}