.pageContainer {
    width: min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    border: solid;
    border-radius: 0.5em;
    border-color: white;
    border-width: 1px;
    padding: 60px;
    background-color: rgb(14, 14, 14);
}

.signUpForm h1 {
    color: white;
}

.signUpForm input {
    font-size: larger;
    margin-bottom: 20px;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    border: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px;
}

.signUpForm button {
    background-color: orange;
    border-radius: 0.5em;
    border-color: transparent;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.signUpForm button:hover {
    background-color: orange;
    border-radius: 0.5em;
    border-color: transparent;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    transform: scale(1.1);
    transition: 0.3s;
}