.bg {
    background-image: url("../Images/login_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.pageContainer {
    width: min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.5em;
    padding: 60px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.3);
}

.signUpForm h1 {
    color: black;
    user-select: none;
}

.signUpForm input {
    font-size: larger;
    margin-bottom: 20px;
    border-radius: 0.5em;
    background-color: white;
    color: black;
    border: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px;
}

.signUpForm button {
    background-color: orange;
    border-radius: 0.5em;
    border-color: transparent;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
    user-select: none;
}

.signUpForm button:hover {
    background-color: orange;
    border-radius: 0.5em;
    border-color: transparent;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    transform: scale(1.1);
    transition: 0.3s;
}