.container {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-columns: 40% auto;
    background-color: #160900;
    color: white;
    user-select: none;
}

#root {
    width: 100%;
}

div {
    text-align: center;
    padding: 0;
    margin: 0;
}

.login-form {
    background-color: #181818;
    border-radius: 22px;
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 20px 50px;
}

.waves-section .waves {
    width: 100%;
    height: inherit;
}

.loginLifHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
}

.loginForm input {
    font-size: 30px;
    padding: 20px;
    border-radius: 0.5em;
    border: none;
    background-color: #282828;
    color: white;
    outline: none;
}

.loginButton {
    padding: 8px;
    background-color: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-color: transparent;
    border-radius: 0.5em;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.2s ease-in-out;
    font-size: xx-large;
}

.loginButton:hover {
    padding: 8px;
    background-color: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-color: transparent;
    border-radius: 0.5em;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.2s ease-in-out;
    font-size: xx-large;
    transform: scale(1.1);
}

.loginFooter {
    padding-top: 30px;
}

.loginFooter a {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}