.appContainer {
    display: grid;
    grid-template-columns: 200px auto;
    height: 100vh;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3f3f3f;
    border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #636262;
    border-radius: 1em;
}

.sideBar {
    margin-top: 10px;
    width: 100%;
    height: 85%;
    background-color: rgb(39, 39, 39);
    border-radius: 0.5em;
    color: white;
    margin-left: 20px;
    user-select: none;
}

.sidebarHeader {
    text-align: center;
    font-size: x-small;
    user-select: none;
}

.addFriendButton {
    width: 90%;
    font-weight: 900;
    background-color: rgb(39, 39, 39);
    border: solid;
    border-color: white;
    color: white;
    border-radius: 0.5em;
    text-align: center;
    border-width: 1px;
    transition: 0.2s;
}

.addFriendButton:hover {
    transition: 0.2s;
    width: 90%;
    font-weight: 900;
    background-color: rgb(85, 85, 85);
    border: solid;
    border-color: white;
    color: white;
    border-radius: 0.5em;
    text-align: center;
    border-width: 1px;
    cursor: pointer;
}

.userProfile {
    margin-top: 14px;
    display: flex;
    margin-left: 20px;
    user-select: none;
    background-color: rgb(39, 39, 39);
    border-radius: 0.5em;
    width: 100%;
    position: relative;
}

.userProfile h1 {
    color: white;
    font-size: small;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 3px;
}

.userProfile button {
    height: max-content;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0.5em;
    transition: ease-in-out 0.2s;
}

.userProfile button:hover {
    background-color: rgb(78, 78, 78);
}

.userProfile button:active {
    transform: scale(0.93);
}

.userProfile button > img {
    width: 20px;
}

@keyframes option-menu-animation {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.user-option-menu {
    position: absolute;
    width: 95%;
    top: -140px;
    background-color: rgb(39, 39, 39);
    padding: 5px;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    animation-name: option-menu-animation;
    animation-duration: 0.2s;
}

.user-option-menu > .options button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

.user-option-menu > .options button:active {
    transform: scale(0.98);
}

.avatar img {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.messages {
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 85%;
    border-radius: 0.5em;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Hide any overflowing content */
    color: white;
}

.message-container {
    width: 90%;
    margin-top: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; /* Adjust spacing between messages */
    margin-right: 5px;
    padding: 3px;
    border-radius: 0.5em;
}

.message:hover {
    background-color: #202020;
}

.message img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-user-drag: none;
    user-select: none;
    object-fit: cover;
}

.message div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message h1 {
    margin: 0;
    font-size: 20px; /* Adjust font size for username */
    margin: 0;
    color: white;
    font-weight: normal;
    user-select: none;
}

.message p {
    margin: 0;
    color: white;
    font-size: 14px; /* Adjust font size for message */
    max-width: 100%; /* Message width limited to the container's width */
    word-break: break-word; /* Allow long words to break */
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 20px;
    overflow: hidden; /* Ensure no overflow outside the grid cell */
}

.messageSender {
    margin-right: 17px;
}

.messageSender input {
    width: 100%;
    border-radius: 0.5em;
    margin-top: 15px;
    height: 32px;
    padding-left: 10px;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid;
    border-color: transparent;
}

.messageSender input:focus {
    outline: none;
}

@keyframes popUpAnimation {
    0% {
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -100%);
        opacity: 1;
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgb(51, 51, 51);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    z-index: 999;
    animation: popUpAnimation 0.2s ease-out;
  }
  
  .popup h3 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .popup p {
    margin-bottom: 0;
  }

  .popup input {
    background-color: rgb(51, 51, 51);
    border: solid white 1px;
    border-radius: 0.5em;
    font-size: large;
    padding: 5px;
    color: white;
  }
  
  .popup .close-btn {
    position: absolute;
    top: -5px;
    right: 5px;
    cursor: pointer;
    font-size: x-large;
  }

.addConversation {
    padding: 5px;
    background-color: orange;
    border-radius: 0.5em;
    font-size: x-large;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}
.notificationButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.notificationButton img {
    width: 15px;
    height: 15px;
    
}
.notificationButton {
    position: absolute;
    top: 20px;
    left: 180px;
}

@keyframes friendRequestPopupAnimation {
    0% {
        left: 190px;
        opacity: 0;
    }
    100% {
        left: 225px;
        opacity: 1;
    }
}
.friendRequestsPopup {
    animation: friendRequestPopupAnimation 0.2s ease-out;
    position: absolute;
    top: 15px;
    left: 225px;
    background-color: rgb(51, 51, 51);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 10px;
    z-index: 999;
}

.friendRequestsPopup ul {
    list-style-type: none;
    padding: 0;
    font-size: large;
}
.closeRequestsButton:hover {
    background-color: rgb(255, 198, 92);
    border-radius: 0.5em;
    border: none;
    color: white;
    font-size: large;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.closeRequestsButton  {
    background-color: orange;
    border-radius: 0.5em;
    border: none;
    color: white;
    font-size: large;
    padding: 5px;
    transition: 0.3s;
}
.acceptButton {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    color:greenyellow;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.acceptButton:hover {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:greenyellow;
    font-size: large;
    margin-left: 10px;
    background-color: rgb(83, 83, 83);
}
.denyButton {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    color:red;
    font-size: large;
}
.denyButton:hover {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    color:red;
    font-size: large;
    background-color: rgb(83, 83, 83);
}
.reconnectBarHide {
    background-color: orange;
    width: 100%;
    position: absolute;
    top: -30px;
    height: min-content;
    transition: 0.2s;
}

.reconnectBarHide p {
    text-align: center;
    padding: 3px;
    margin: 0;
    color: white;
    font-weight: bold;
}

.reconnectBarShow {
    background-color: orange;
    width: 100%;
    position: absolute;
    top: 0;
    height: min-content;
    transition: 0.2s;
}

.reconnectBarShow p {
    text-align: center;
    padding: 3px;
    margin: 0;
    color: white;
    font-weight: bold;
}

.friends_list {
    margin-top: 15px;
}

.friends {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 3px;
    display: flex;
    padding: 5px;
    border-radius: 0.3em;
    transition: 0.3s;
}

.friends:active {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 3px;
    display: flex;
    padding: 5px;
    border-radius: 0.3em;
    transition: 0.3s;
    background-color: transparent;
    transform: scale(0.95);
}

.friends:hover {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    margin-top: 3px;
    padding: 5px;
    background-color: rgb(80, 80, 80);
    border-radius: 0.3em;
    transition: 0.3s;
}

.friends img {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.friends button{
    font-size: medium;
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.conversationHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Adjust padding for spacing */
    user-select: none;
    background-color: rgb(58, 58, 58);
    width: 90%;
    margin-top: 10px;
    border-radius: 0.5em;
}

.conversationHeader img {
    width: 50px;
    height: 50px; /* Adjust height if needed */
    border-radius: 2em;
    margin-right: 10px; /* Add margin between image and h1 */
    object-fit: cover;
}

.conversationHeader h1 {
    color: white;
    font-size: large;
    margin: 0; /* Remove default margin for h1 */
    padding-left: 10px;
}

.error_image {
    width: 50px;
    padding-top: 20px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 33px;
width: 13px;
height: 13px;
border-radius: 50%;
background: #fff;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}

@keyframes unfriend-animation {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.unfriend-button {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    transition: 0.2s ease-in-out;
}

.unfriend-button:hover {
    background-color: #636262;
    border-radius: 2em;
}

.unfriend-button:active {
    transform: scale(0.93);
}

.unfriend-popup {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: rgb(51, 51, 51);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    color: white;
    text-align: center;
    padding: 20px;
    animation-name: unfriend-animation;
    animation-duration: 0.3s;
}

.unfriend-popup button {
    padding: 5px 20px 5px 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 1em;
    border: none;
    margin: 5px;
    transition: 0.2s ease-in-out;
}

.unfriend-popup button:hover {
    background-color: rgb(255, 206, 114);
}

.unfriend-popup button:active {
    transform: scale(0.95);
}