.appContainer {
    display: grid;
    grid-template-columns: 50px 230px auto;
    gap: 20px;
    height: 100vh;
    overflow: auto;
    grid-template-rows: 1fr;
    background-color: #160900;
    padding: 20px;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3f3f3f;
    border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #636262;
    border-radius: 1em;
}

.sideBar {
    width: 100%;
    height: 100%;
    background-color: #181818;
    border-radius: 14px;
    color: white;
    user-select: none;
}

.sidebarHeader {
    padding: 10px;
    text-align: left;
    font-size: x-small;
    user-select: none;
    display: block;
    display: flex;
    justify-content: space-between;
}

.sidebarHeader h1 {
    margin: 0;
    display: block;
    font-weight: normal;
    font-size: large;
}

.add Button {
    width: auto;
    height: 20px;
    background-color: transparent;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    display: block;
}

.addFriendButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.addFriendButton img {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-color: transparent;
}

.addFriendButton:hover {
    opacity: 0.5;
}

.userProfile {
    margin-top: 14px;
    display: flex;
    margin-left: 20px;
    user-select: none;
    background-color: rgb(39, 39, 39);
    border-radius: 0.5em;
    width: 100%;
    position: relative;
}

.userProfile h1 {
    color: white;
    font-size: small;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 3px;
}

.userProfile button {
    height: max-content;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0.5em;
    transition: ease-in-out 0.2s;
}

.userProfile button:hover {
    background-color: rgb(78, 78, 78);
}

.userProfile button:active {
    transform: scale(0.93);
}

.userProfile button > img {
    width: 20px;
}

@keyframes option-menu-animation {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.user-option-menu {
    position: absolute;
    width: 95%;
    top: -140px;
    background-color: rgb(39, 39, 39);
    padding: 5px;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    animation-name: option-menu-animation;
    animation-duration: 0.2s;
}

.user-option-menu > .options button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

.user-option-menu > .options button:active {
    transform: scale(0.98);
}

.avatar img {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

@keyframes messages_loader {
    0% {
        background-color: #292929;
    }
    50% {
        background-color: #545454;
    }
    100% {
        background-color: #292929;
    }
}

.messages .messages-loader {
    width: 100%;
    height: max-content;
    display: block;
}

.messages .messages-loader .header {
    background-color: #282828;
    width: 98%;
    border-radius: 22px;
    display: block;
    height: 80px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    margin-top: 10px;
    animation: messages_loader 2s ease-in-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.messages .messages-loader .header .avatar {
    background-color: #181818;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.messages .messages-loader .header .username {
    background-color: #181818;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    border-radius: 1em;
    width: 200px;
    height: 30px;
}

.messages .messages-loader .messages .message {
    width: 95%;
    height: max-content;
    display: flex;
    padding: 10px;
    margin-top: 15px;
}

.messages .messages-loader .messages .message:hover {
    background-color: transparent;
}

.messages .messages-loader .messages .message .avatar {
    background-color: #282828;
    height: 40px;
    max-width: 40px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    animation: messages_loader 2s ease-in-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.messages .messages-loader .messages .message .text {
    height: 95%;
    padding-left: 10px;
    padding-right: 10px;
}

.messages .messages-loader .messages .message .text .line1 {
    height: 15px;
    border-radius: 1em;
    width: 100%;
    background-color: #282828;
    margin-bottom: 5px;
    animation: messages_loader 2s ease-in-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.messages .messages-loader .messages .message .text .line2 {
    height: 15px;
    border-radius: 1em;
    width: 80%;
    background-color: #282828;
    animation: messages_loader 2s ease-in-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.messages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto; /* Hide any overflowing content */
    color: white;
}

.message-container {
    padding: 10px 15px;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; /* Adjust spacing between messages */
    margin-right: 5px;
    padding: 3px;
    border-radius: 0.5em;
}

.message:hover {
    background-color: #202020;
}

.message img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-user-drag: none;
    user-select: none;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

.message img:hover {
    transform: scale(0.90);
}

.message-header {
    display: flex;
    flex-direction: row !important;
}

.message-header .clock {
    width: 15px !important;
    height: 15px !important;
    min-width: 15px !important;
    min-height: 15px !important;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.message-header .clock:hover {
    transform: scale(1);
}

.message div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message h1 {
    margin: 0;
    font-size: 20px; /* Adjust font size for username */
    margin: 0;
    color: white;
    font-weight: normal;
    user-select: none;
    text-align: left;
}

.message p {
    margin: 0;
    color: white;
    font-size: 14px; /* Adjust font size for message */
    max-width: 100%; /* Message width limited to the container's width */
    word-break: break-word; /* Allow long words to break */
    white-space: pre-wrap;
    text-align: left;
}

.message a {
    color: lightskyblue;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: lightblue;
}

.message a:active {
    color: white;
    text-decoration-color: white;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.message-box {
    background-color: #282828;
    border-radius: 12px;
    display: flex;
    z-index: 2;
}

.message-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    position: relative;
}

.message-box button img {
    width: 25px;
    height: 25px;
}

.messageSender {
    box-sizing: border-box;
    margin: 10px;
    position: relative;
}

.message-box textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    color: white;
    border: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    z-index: 1;
}

.messageSender textarea:focus {
    outline: none;
}

@keyframes popUpAnimation {
    0% {
        transform: translate(-50%, -10%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    box-shadow: 0px 0px 20px black;
    border-radius: 1em;
    padding: 20px;
    max-width: 400px;
    z-index: 999;
    animation: popUpAnimation 0.2s ease-out;
}
  
.popup h3 {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

.popup p {
    margin-bottom: 0;
}

.popup input {
    background-color: #414141;
    border: solid white 1px;
    border-radius: 0.5em;
    font-size: large;
    padding: 5px;
    color: white;
    outline: none;
}
  
.popup .close-btn {
    position: absolute;
    top: -5px;
    right: 5px;
    cursor: pointer;
    font-size: x-large;
}

.addConversation {
    padding: 5px;
    background-color: orange;
    border-radius: 0.5em;
    font-size: x-large;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: block;
}
.notificationButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@keyframes friendRequestPopupAnimation {
    0% {
        left: 0px;
        opacity: 0;
    }
    100% {
        left: 40px;
        opacity: 1;
    }
}
.friendRequestsPopup {
    animation: friendRequestPopupAnimation 0.2s ease-out;
    position: absolute;
    bottom: 0;
    left: 40px;
    background-color: #181818;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    padding: 10px;
    width: 200px;
    z-index: 999;
}

.friendRequestsPopup h2 {
    text-align: center;
    color: white;
}

.friendRequestsPopup p {
    text-align: center;
    color: white;
}

.friendRequestsPopup ul {
    list-style-type: none;
    padding: 0;
    font-size: large;
    color: white;
}
.closeRequestsButton:hover {
    background-color: #424242;
}
.closeRequestsButton  {
    background-color: #282828;
    border-radius: 1em;
    border: none;
    color: white;
    font-size: large;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}
.acceptButton {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    color:greenyellow;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.acceptButton:hover {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:greenyellow;
    font-size: large;
    margin-left: 10px;
    background-color: rgb(83, 83, 83);
}
.denyButton {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    color:red;
    font-size: large;
}
.denyButton:hover {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    color:red;
    font-size: large;
    background-color: rgb(83, 83, 83);
}
.reconnectBarHide {
    background-color: orange;
    width: 100%;
    position: absolute;
    top: -30px;
    height: min-content;
    transition: 0.2s;
    box-sizing: border-box;
    left: 0;
}

.reconnectBarHide p {
    text-align: center;
    padding: 3px;
    margin: 0;
    color: white;
    font-weight: bold;
}

.reconnectBarShow {
    background-color: orange;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: min-content;
    transition: 0.2s;
    box-sizing: border-box;
}

.reconnectBarShow p {
    text-align: center;
    padding: 3px;
    margin: 0;
    color: white;
    font-weight: bold;
}

.friends_list {
    padding: 15px;
    overflow: auto;
}

@keyframes friends_list_loader {
    0% {
        background-color: #292929;
    }
    50% {
        background-color: #545454;
    }
    100% {
        background-color: #292929;
    }
}

.friends_list .loader {
    background-color: #292929;
    border-radius: 22px;
    height: 50px;
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    animation: friends_list_loader 2s ease-in-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.friends_list .loader .avatar {
    width: 30px;
    height: 30px;
    background-color: #181818;
    display: block;
    border-radius: 50%;
    margin: auto;
}

.friends_list .loader .username {
    width: 120px;
    height: 20px;
    border-radius: 1em;
    background-color: #181818;
    display: block;
    margin: auto;
}

.friends {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border-radius: 22px;
    transition: 0.3s;
    background-color: #292929;
    box-sizing: border-box;
}

.friends:active {
    transform: scale(0.95);
}

.friends:hover {
    background-color: rgb(80, 80, 80);
}

.friends:hover .user-online-status {
    border-color: rgb(80, 80, 80);
}

.friends.active {
    background-color: #ffa200;
}

.friends.active .user-online-status {
    border: 2px solid #ffa200;
}

.friends img {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.friends .user-online-status {
    background-color: gray;
    border: 2px solid rgb(39, 39, 39);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.online {
    background-color: lightgreen !important;
    transition: 0.2s ease-in-out;
}

.friends .username_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.friends .username_section .username {
    font-size: medium;
    color: white;
    margin: auto 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.friends .username_section .last_message {
    font-size: x-small;
    width: 100%;
    box-sizing: border-box;
    margin: auto 10px;
    text-align: left;
}

.conversationHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Adjust padding for spacing */
    user-select: none;
    background-color: #282828;
    width: 100%;
    box-sizing: border-box;
}

.conversationHeader img {
    width: 50px;
    height: 50px; /* Adjust height if needed */
    border-radius: 2em;
    margin-right: 10px; /* Add margin between image and h1 */
    object-fit: cover;
}

.conversationHeader h1 {
    color: white;
    font-size: large;
    margin: 0; /* Remove default margin for h1 */
    padding-left: 10px;
}

.error_image {
    width: 50px;
    padding-top: 20px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 33px;
width: 13px;
height: 13px;
border-radius: 50%;
background: #fff;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}

@keyframes unfriend-animation {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.unfriend-button {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    transition: 0.2s ease-in-out;
}

.unfriend-button:hover {
    background-color: #636262;
    border-radius: 2em;
}

.unfriend-button:active {
    transform: scale(0.93);
}

.unfriend-popup {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: #181818;
    box-shadow: 0px 0px 20px black;
    border-radius: 1em;
    color: white;
    text-align: center;
    padding: 20px;
    animation-name: unfriend-animation;
    animation-duration: 0.3s;
}

.unfriend-popup button {
    padding: 5px 20px 5px 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 1em;
    border: none;
    margin: 5px;
    transition: 0.2s ease-in-out;
}

.unfriend-popup button:hover {
    background-color: rgb(255, 206, 114);
}

.unfriend-popup button:active {
    transform: scale(0.95);
}

@keyframes profile-popup-animation {
    0% {
        top: 60%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

.profile-popup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    box-shadow: 0px 0px 20px black;
    border-radius: 1em;
    color: white;
    text-align: center;
    padding: 20px;
    width: 500px;
    animation-name: profile-popup-animation;
    animation-duration: 0.3s;
}

.profile-popup .header {
    display: flex;
}

.profile-popup .header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    user-select: none;
}

.profile-popup h2 {
    text-align: left;
    user-select: none;
}

.profile-popup p {
    background-color: #202020;
    border-radius: 0.5em;
    padding: 10px;
    word-wrap: break-word;
    text-align: left;
    max-height: 100px;
    overflow: auto;
    white-space: pre-wrap;
}

.profile-popup .close-button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.profile-popup .close-button img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

@keyframes link-check-popup-animation {
    0% {
        top: 60%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

.check-link-popup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    box-shadow: 0px 0px 20px black;
    border-radius: 1em;
    color: white;
    text-align: center;
    padding: 20px;
    width: 500px;
    user-select: none;
    animation-name: link-check-popup-animation;
    animation-duration: 0.3s;
}

.check-link-popup .shield {
    width: 70px;
    height: inherit;
    -webkit-user-drag: none;
}

.check-link-popup .proceed-button {
    background-color: red;
}

.check-link-popup .loader {
    width: 30px;
    height: inherit;
}

.check-link-popup button {
    background-color: #636262;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.2s;
}

.check-link-popup p {
    word-break: break-all;
}

.check-link-popup i {
    text-decoration: underline;
}

.check-link-popup button:hover {
    opacity: 0.5;
}

.check-link-popup .go-button {
    background-color: orange;
}

.typing-indicator-closed {
    background-color: #3f3f3f;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.2s ease-in-out;
    opacity: 0;
    z-index: 1;
}

.typing-indicator-closed p {
    padding: 0;
    margin: 5px;
}

.typing-indicator-open p {
    padding: 0;
    margin: 5px;
}

.typing-indicator-open {
    background-color: #3f3f3f;
    position: absolute;
    width: 100%;
    left: 0;
    top: -35px;
    transition: 0.2s ease-in-out;
    border-radius: 0.5em;
    color: white;
    opacity: 1;
    z-index: 1;
}

.update-downloaded-popup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(51, 51, 51);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    width: 500px;
    height: 200px;
    text-align: center;
    padding: 10px;
}

.update-downloaded-popup h1 {
    color: white;
    text-align: center;
}

.update-downloaded-popup p {
    color: white;
    text-align: center;
}

.update-downloaded-popup button {
    background-color: #636262;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.2s;
}

.side-options-menu {
    background-color: #181818;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-options-menu img {
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
    cursor: pointer;
}

.side-options-menu .avatar {
    border-radius: 50%;
}

@keyframes account_panel_animation {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 40px;
        opacity: 1;
    }
}

.account-panel {
    position: absolute;
    bottom: 0;
    left: 40px;
    background-color: #181818;
    box-shadow: 0 0 10px 5px black;
    width: 200px;
    height: max-content;
    border-radius: 14px;
    overflow: hidden;
    animation: account_panel_animation 0.2s ease-in-out;
    z-index: 999 !important;
}

.account-panel .banner {
    height: 60px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.account-panel .banner .avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: default;
    display: block;
    margin: auto;
    transform: translateY(75%);
    border: 4px solid #181818;
}

.account-panel h1 {
    text-align: center;
    color: white;
    font-size: larger;
    margin-top: 30px;
}

.account-panel .button-container {
    padding: 10px;
}

.account-panel .button-container button {
    background-color: #282828;
    color: white;
    border-radius: 1em;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.account-panel .button-container button:hover {
    background-color: #464646;
}

.message-destruct-selector {
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: #181818;
    box-shadow: 0 0 10px 5px black;
    border-radius: 1em;
    color: white;
    width: 300px;
    cursor: default;
    padding: 15px;
    text-align: center;
}

.message-destruct-selector input {
    background-color: #282828;
    border-radius: 0.5em;
    border: none;
    outline: none;
    width: 50px;
    color: white;
    padding: 5px;
    text-align: center;
}

.message-destruct-selector span {
    margin-left: 10px;
}

.message-destruct-selector button {
    display: block;
    text-align: center;
    color: white;
    background-color: #282828;
    border-radius: 1em;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
}

.message-destruct-selector button:hover {
    background-color: #464646;
}

.message-destruct-selector .small {
    color: rgb(122, 122, 122);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gif-selector-button {
    background-color: #4A4A4A !important;
    color: white;
    height: max-content;
    margin: auto 5px;
    border-radius: 0.5em;
    position: relative;
    cursor: pointer;
}

.gif-selector-button span {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.gif-selector {
    position: absolute;
    bottom: 45px;
    right: 0;
    background-color: #181818;
    box-shadow: 0 0 10px 5px black;
    border-radius: 1em;
    color: white;
    width: 400px;
    cursor: default;
    padding: 15px;
}

.gif-selector .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gif-selector .header input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #282828;
    border-radius: 0.5em;
    color: white;
    outline: none;
}

.gif-selector .header button {
    background-color: orange;
    color: white;
    border-radius: 0.5em;
    font-weight: bold;
    padding: 0 10px;
    display: block;
}

.gif-selector .container {
    width: 100%;
    max-height: 300px;
    height: max-content;
    overflow-y: auto;
    margin-top: 10px;
    background-color: transparent;
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 0.5em;
    
}

.gif-selector .container h1 {
    text-align: center !important;
    margin: 20px auto;
}

.gif-selector .container img {
    width: calc(50% - 10px);
    height: auto;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    object-fit: cover;
}

.gif-selector .container img:hover {
    opacity: 0.5;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none; /* Remove default styling */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M18.3 5.71a1 1 0 0 0-1.42 0L12 10.59 7.12 5.71a1 1 0 0 0-1.42 1.42L10.59 12l-4.89 4.88a1 1 0 0 0 1.42 1.42L12 13.41l4.88 4.89a1 1 0 0 0 1.42-1.42L13.41 12l4.89-4.88a1 1 0 0 0 0-1.42z"/></svg>') no-repeat center;
    background-size: 12px 12px; /* Adjust size as needed */
    height: 16px; /* Adjust size as needed */
    width: 16px; /* Adjust size as needed */
    border-radius: 50%; /* Optional: Make it a circle */
}

.message-gif {
    border-radius: 0.5em !important;
    margin-top: 10px;
    min-width: none !important;
    min-height: none !important;
    max-width: 250px !important;
    max-height: 250px !important;
    width: auto !important;
    height: auto !important;
    object-fit: cover;
    display: block;
}

.message-gif:hover {
    transform: scale(1) !important;
}

.giphy-logo {
    min-width: 100px !important;
    height: inherit;
    object-fit: contain !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.giphy-logo:hover {
    transform: scale(1) !important;
}

@keyframes return-to-recent-animation {
    0% {
        opacity: 0;
        bottom: 80px;
    } 
    100% {
        opacity: 1;
        bottom: 100px;
    }
}

.return-to-recent-button {
    background-color: #545454;
    border: none;
    border-radius: 0.5em;
    padding: 10px;
    color: white;
    position: absolute;
    right: 50px;
    bottom: 100px;
    cursor: pointer;
    animation: return-to-recent-animation 0.2s ease-in-out;
}