.resetContainer {
    color: white;
    background-color: rgb(59, 59, 59);
    border-radius: 1em;
    margin: 10%;
    text-align: center;
    padding: 20px;
}

.resetContainer button {
    background-color: orange;
    border-radius: 0.5em;
    color: white;
    border: none; 
    padding: 10px;
    margin-top: 20px;
}

.resetContainer input {
    background-color: rgb(36, 36, 36);
    border: solid white;
    color: white;
    border-radius: 0.5em;
    font-size: 20px;
    padding: 10px;
    touch-action: none;
}

.resetContainer a {
    color: cyan;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.resetContainer input[type=number]::-webkit-inner-spin-button, 
.resetContainer input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}